@inject ILanguageContainerService languageContainer


<section class="bg-cta" style="background-image: url('images/bg-cta01.jpg');">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center text-white">
                    <h3 class="mb-3">@languageContainer.Keys["VideoTitle"]</h3>
                    <p>
                        @languageContainer.Keys["VideoText"]
                    </p>
                    <a href="#presentationVideo" class="play-btn mt-4" data-bs-toggle="modal">
                        <i class="mdi mdi-play text-white"></i>
                    </a>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
@code {
    [Parameter]
    public string CultureCode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(CultureCode));


    }
}
